       {% extends 'base.html' %}
        {% block content %}
        <main class="container py-5">
            <section class="card card-body">
                <h1>Home</h1>
                <p>KGBL: Empresa dedicada a la fabricacion de muebles de alta gama con calidad internacional de los mejores dise;os de la gerencia </p>
           <div class="text-center">
            <a class="btn btn-secondary" href="/signin/">
                Signin
            </a>
            <a class="btn btn-dark" href="/signup/">
                Signup
            </a>

           </div>
            </section>
        </main>
            
        {% endblock %}